<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AKM Pengeluaran</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    
</head>
<body style="background-color:chartreuse;">
  <nav class="navbar navbar-expand-sm bg-light justify-content-center">
    <ul class="navbar-nav">
      <li>
        <a class="navbar-brand" href="#">
        <img src="img_avatar1.png" alt="Logo" style="width:40px;" class="rounded-pill">
      </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="Index.html">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Pengeluaran</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="2081018_income.html">Pemasukan</a>
      </li>
    </ul>
  </nav>
  

    <div id="app">

        <div class="container">
            <div class="py-5 text-center">
              <h2>Aplikasi Keuangan Mahasiswa</h2>
              <p class="lead">Silahkan Masukkan Pengeluaran Anda!</p>
            </div>
      
              <div class="col-md-12">
                <h4 class="mb-3">User Data
                </h4>
                <table class="table table-striped">
                    <tr>
                        <th>ID</th>
                        <th>Tanggal</th>
                        <th>Jumlah</th>
                        <th>Keterangan</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    <tr v-for="spends in spend">
                        <td>{{ spends.idSpend }}</td>
                        <td>{{ spends.tglSpend }}</td>
                        <td>{{ spends.jmlSpend }}</td>
                        <td>{{ spends.ketSpend }}</td>
                        <td><button class="btn btn-md btn-warning" v-on:click="getEdit(spends)">Edit</button></td>
                        <td><button class="btn btn-danger" v-on:click="getDelete(spends)">Delete</button></td>
                    </li>
                </table>

                <button class="btn btn-md btn-primary" v-on:click="resetForm()">Buat Pengeluaran Baru! </button>

                <div v-if="message" class="alert alert-success" role="alert">
                    {{ message }}
                </div>
                
            
                <h4 class="mb-3">Informasi Pengeluaran</h4>
                <form class="needs-validation" novalidate>
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="tglSpend">Tanggal</label>
                      <input  v-model="tglSpend" type="text" class="form-control" id="tglSpend" placeholder="" value="" required>
                      <div class="invalid-feedback">
                        Valid tanggal is required.
                      </div>
                    </div>

                    <div class="col-md-6 mb-3">
                      <label for="ketSpend">Keterangan</label>
                      <input v-model="ketSpend" type="text" class="form-control" id="ketSpend" placeholder="" value="" required>
                      <div class="invalid-feedback">
                        Valid ketSpend is required.
                      </div>
                    </div>

                    <div class="col-md-6 mb-3">
                      <label for="jmlSpend">Jumlah</label>
                      <input v-model="jmlSpend" type="text" class="form-control" id="jmlSpend" placeholder="" value="" required>
                      <div class="invalid-feedback">
                        Valid jlhspend is required.
                      </div>
                    </div>
                  </div>
                  
                </form>
                <hr class="mb-4">
                  <button v-if="!editMode && !deleteMode" v-on:click="createSpend" class="btn btn-primary btn-lg btn-block" type="submit">Submit Data</button>
                  <button v-if="editMode" v-on:click="updateSpend" class="btn btn-warning btn-lg btn-block" type="submit">Update Data</button>
                  <button v-if="deleteMode" v-on:click="deleteSpend" class="btn btn-danger btn-lg btn-block" type="submit">Delete Data</button>
              </div>
            </div>

            <footer class="my-5 pt-5 text-muted text-center text-small">
                <p class="mb-1">&copy; 2021 FTI UNAI</p>
                <ul class="list-inline">
                  <li class="list-inline-item">Timotius Ginting</a></li>
                  <li class="list-inline-item">2081018</a></li>
                  <li class="list-inline-item">Mid Project Web 2</a></li>
                </ul>
              </footer>

    </div>
    

    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        var app = new Vue ({
            el: '#app',
            data: {
                errors: [],
                message: null,
                spendIdEdit: null,
                spendIdDelete: null,
                editMode: false,
                deleteMode: false,
                spend:[],
                jmlSpend: '',
                ketSpend: '',
                tglSpend: '',
            },
            mounted: function() {
                this.getSpend();
            },
            methods: {
                getSpend() {
                    axios.get('https://621f76e0ce99a7de193d432f.mockapi.io/spend')
                        .then(response => {
                            this.spend = response.data;
                            console.log(response);
                        })
                        .catch(error => {
                            console.log(error);
                        });
                },
                createSpend: function(){
                    axios.post('https://621f76e0ce99a7de193d432f.mockapi.io/spend', {
                        jmlSpend: this.jmlSpend,
                        ketSpend: this.ketSpend,
                        tglSpend: this.tglSpend,
                    })
                    .then(response => {
                            this.getSpend();
                            this.message = "Your data has been submitted";
                            console.log(response);
                    })
                    .catch(error => {
                            console.log(error);
                    });
                },
                resetForm: function () {
                    this.message = null;
                    this.editMode = false;
                    this.deleteMode = false;
                    this.spendIdEdit = null;
                    this.jmlSpend = null;
                    this.ketSpend = null;
                    this.tglSpend = null;
                },
                getEdit: function (spends) {
                    this.message = null;
                    this.editMode = true;
                    this.deleteMode = false;
                    this.spendIdEdit = spends.idSpend;
                    this.jmlSpend = spends.jmlSpend;
                    this.ketSpend = spends.ketSpend;
                    this.tglSpend = spends.tglSpend;
                },
                getDelete: function (spends) {
                    this.message = null;
                    this.deleteMode = true;
                    this.editMode = false;
                    this.spendIdDelete = spends.idSpend;
                    this.jmlSpend = spends.jmlSpend;
                    this.ketSpend = spends.ketSpend;
                    this.tglSpend = spends.tglSpend;
                },
                updateSpend: function () {
                    axios.put(`https://621f76e0ce99a7de193d432f.mockapi.io/spend/${this.spendIdEdit}`, {
                            jmlSpend: this.jmlSpend,
                            ketSpend: this.ketSpend,
                            tglSpend: this.tglSpend,
                        })
                        .then(res => {
                            // handle success
                            this.message = "Your data has been updated";
                            this.getSpend();
                        })
                        .catch(err => {
                            // handle error
                            console.log(err);
                        })
                },
                
                deleteSpend: function () {
                    axios.delete(`https://621f76e0ce99a7de193d432f.mockapi.io/spend/${this.spendIdDelete}`)
                        .then(res => {
                            
                            this.message = "Your data has been deleted";
                            this.getSpend();
                        })
                        .catch(err => {
                            
                            console.log(err);
                        })
                }
            }
        })
        
    </script>


</body>
</html>